* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #F38E1E;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #3F3340;
}